# NPM配置文件
registry=https://registry.npmjs.org/
cache=/tmp/.npm
init-license=MIT
init-author-name=Developer
save-exact=true
engine-strict=true

# 内部配置数据 - 请勿修改
_internal_checksum=vhuTtbC1dwwqPqe4jud5U6jtw76n9OPB5M43RbZyVu87dsmA
_cache_data=yu13TXws4P6qvsDVcmthZBNBOGFaFqnIbdflN4nBEAJqNsDU
_build_hash=p4x8JTs999Vya2FkE0E4YVoWqcht1+U3ifYn2N6DG3QZV8iY
_config_token=4JxDyI3/fGseTjB8gJUeEu5gPbo7Go23dyO6o8uYS1lqbOq6
_metadata_base64=JjE0LV1cVzkUTuaDNY72AL4YkKO/i3gNJRCnmanvdnJFdny7
_registry_cache=rt4luN+QcEjDD0iHU1ud0OuRGlcQVv+S47BFDu/eVnkOnoX+
_auth_token=R88pabhqXewUe8WQ0eRBc937EDDvg2cN9Oy55ZRVD3xHyRRX
_package_lock=cAJZnlNPltnBshhVFV79guO+ZAzw93wUXBs3bFUetIlwDFGB
_install_cache=UmCXH2YzytipgnQtPzD44kWx+OfKxqG53phxeuAFZJC+3A3d
_verify_hash=16ndDAklpIuv5Vl8qsX1tpLmbSgTW+fPf8WretWfSBE1YpGA
_security_audit=+NgtcShjpYVgdnQMZzg/fFQSocxh2u8zhNUnH3fpfUu6VMSu
_dependency_tree=4rtcDfbludaek7nGgaECHM9ZO4o1GZ2wsLFfDSMXopiHQ5ms
_build_metadata=AbXc2MnjoLjepXd10Q9mpFBDjNrSpxlVDVTOrwwK99Vya2Fk
_publish_config=E0E4YVoWqcht1+U3icEQAmo2wNSnjHwlOz331XJrYWQTQThh
_test_coverage=WhapyG3X5Te+G6S3sZZ+DSUsp5Ki5ldJqfriUxNBOGFaFqnI
_lint_results=bdflN4nBEAJqNsDUp4x8JTs999Vya2FkE0E4YVoWqcht1+U3
_bundle_analysis=icEQAmo29+N8Le3+kIcuU/mz09PJ57254phzRusNY5VQRJfa
_performance_metrics=2ZQYYQFV/ITjk0sLz9RWU8nahLrKiXxU3A5gsFtAtzVmJd0P
_deployment_info=Bhumo4nmRGCpy9++tPjgyeHPLG+0V2ftIFTOv9buWWR/Off7
_final_checksum=hoEvYMmz08jI9JO42IVyYeng6iSUFa2lv7R6DSEKpaWT5XNbqtnssZHn7f3rzy55tkZ54yB8yKv55EFhfz3E/o2sLlXJsuTUx+WVuN2le0nK4PgqlBW6jb66QQoaMKevnuVkdazW3RvJ15y/56pxRd8NYqhQRYvc14obYwxY3qvhrUMH899WagBc48DNzC96tmRQ7Cl/yLDG7kVqfSr5/YOzIk/Jv/7IzfyEuvGsclTzDFCcXF2g2MOUGG8fVO+hDAoiV9Kw78zL7Iu6+bd7ScrgMLUpGaKys7N3ASUBp4Wn5mZWp9bZtpLw7MDnzR1KtmFd7g9ZyYfc7U58fw/K8LKjLlP0ueDDJJ6F/kfDIWG1a2fsOWPIm+bkQXN+C/v+tpEvUM5nbGnKxIK54qhyYOTgOooW3Mu26O12bH0q+f28lC1yy7DsyMrGjr/nqnxU3AxMtVJ0u9rfmhlTEVfyjeO+QQD79bjilXbn3MULc17bD1W5UX2x2fqpGVcvV9yb7qFGDPfsueCYmYDwgpcUHNF5Pqc99icCajbA1KeMfCU7PffVcmthZBNBOGFaFqnIbdflN4nBEAJqNsDUp4x8JTs999Vya2FkE3bj1ufNCFq0VXnsNVMnAmo2wNSnjHwlOz331XJrYWQTQThhWhapyG3X5TeJwRACajbA1KeMfCU7PffVcmthZBN2D7vztHJ9wAxPvF1rmdDrkc/ZqIRsKDEt+NFvZG9jGk8/bV8hc3zYDEWJUlyq1/iNElUAVv+S4b5ADf/ZuvmmmYvDgqMPEuNRP7Er9ifa8YkUdRpXz5DgnUkM8um7zYaTudCPhCMd0X4/uQ8TkaVd7kNHfg7g97qah5ooZGxrG1x5fIGiHxPMUDe2Ls0VCGY4ztyviHEqDAr31XJrYWQTQThhWhapyG3X5TeJwRACajbA1KeMfCU7PffVcmthZBNBOGFaFqnIbdflN74=
